<mat-card *ngIf="currentBook!=null">
    <mat-card-header>
        
        <mat-card-title>
            <!-- <div mat-card-avatar></div> -->
            <mat-icon>edit</mat-icon>  Update Book Details
        </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p><app-format-error [errorList]="errorList" *ngIf="error"></app-format-error></p>
      <form [formGroup]="updateForm" (ngSubmit)="onSubmit()">
        
        <p>
            <mat-form-field class="legacy" >
                <mat-label>ISBN</mat-label>
                <input matInput formControlName="isbn">
            </mat-form-field>
        </p>
      
        <p>
            <mat-form-field appearance="legacy">
                <mat-label>Title</mat-label>
                <input matInput formControlName="title">
            </mat-form-field>
        </p>
        <p>
            <mat-form-field appearance="legacy">
                <mat-label>Authors</mat-label>
                <input matInput formControlName="authors" required>
            </mat-form-field>
        </p>
        <p>
            <mat-form-field appearance="legacy">
                <mat-label>Price</mat-label>
                <input matInput formControlName="price" type="number" step="0.01" min="0.01" max="9999.99"  name="price">
                <mat-error>Please enter a value between 0.01 and 9999.99</mat-error>
            </mat-form-field>
        </p>
        <p>
            <mat-form-field appearance="legacy">
                <mat-label>Quantity</mat-label>
                <input matInput formControlName="quantity" type="number" min="0" max="999">
                <mat-error>Please enter a value between 0 and 999</mat-error>
            </mat-form-field>
        </p>
        <p>
         <mat-form-field appearance="legacy">
                <mat-label>Published Date</mat-label>
                <input matInput formControlName="published_date" type="date">
            </mat-form-field>
        </p>
        <div>
            <input 
                formControlName="file"
                id="file" 
                type="file" 
                accept="image/x-png,image/jpg,image/jpeg,image/png"
                multiple 
                (change)="onFileChange($event)">
                <br>
                <br>
            <div *ngIf="f.file.touched && f.file.invalid" class="alert alert-danger">
                <div *ngIf="f.file.errors.required">File is required.</div>
            </div>
            <div class="example-card" *ngFor='let img of imageurls;let index = index'>
                <img mat-card-image  [src]="img.imageUrl" height="50" width="50px" style="margin: 3px;object-fit: contain;">
                <mat-card-actions>
                  <button mat-button type="button" (click)="openDialog(img,index)"><mat-icon>delete_forever</mat-icon></button>
                </mat-card-actions>
              </div>
            <div class="example-card" *ngFor='let url of images;let index = index'>
                <img mat-card-image  [src]="url" height="50" width="50px" style="margin: 3px;object-fit: contain;">
                <mat-card-actions>
                  <button mat-button type="button" (click)="removeSelectedFile(index)"><mat-icon>cancel</mat-icon></button>
                </mat-card-actions>
              </div>

        <!-- <img *ngFor='let url of images'  [src]="url" height="50" width="50px" style="margin: 3px;object-fit: contain;"> <br/>  -->
        </div>
        <br>
        <p>
            <button mat-stroked-button color="primary" [disabled]="!updateForm.valid">Update Book</button>  
        </p>
        <p>
            <!-- <app-format-error [errorList]="errorList" *ngIf="error"></app-format-error> -->
            <mat-error  *ngIf="error"> 
              Some error occured!
         </mat-error >
          </p>
  </form>
  </mat-card-content>
  </mat-card>