
<mat-card>
    <mat-card-header>
        <div mat-card-avatar><mat-icon>account_circle</mat-icon></div>
        <mat-card-title>Sign up</mat-card-title>
        <mat-card-subtitle [routerLink]="['/signin']"  routerLinkActive="active">Have an account?</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <!-- <form class="example-form" [formGroup]="todoForm" (ngSubmit)="onSubmit()"> -->
        <form [formGroup]="signupForm" (ngSubmit)="onSubmit()">
            <p>
                <mat-form-field appearance="legacy">
                  <mat-label>First Name</mat-label>
                  <input matInput placeholder="First name" formControlName="firstName"required>
                  <mat-hint></mat-hint>
                </mat-form-field>
              </p>
              <p>
                <mat-form-field appearance="legacy">
                  <mat-label>Last Name</mat-label>
                  <input matInput placeholder="Last name" formControlName="lastName"required>
                  <mat-hint></mat-hint>
                </mat-form-field>
              </p>
              <p>
                <mat-form-field class="legacy">
                    <mat-label>Email</mat-label>
                    <input matInput formControlName="email" placeholder="Ex. xx@example.com" required>
                    
                    <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
                    <mat-hint></mat-hint>
                  </mat-form-field>
              </p>
              <p>
                <mat-form-field appearance="legacy">
                    <mat-label>Password</mat-label>
                    <input matInput placeholder="password" matTooltipPosition='before'
                    matTooltip="Password must contain atleast 8 character, atleast one digit, 
                    atleast one lowercase, atleast one uppercase, atleast one character from @$!%*?&"
                     formControlName="password" [type]="hide ? 'password' : 'text'" minlength="6" required>
                    <button mat-icon-button type="button" matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                      <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                      </button>
                  </mat-form-field>
              </p>
              <p>
                <button mat-stroked-button color="primary" [disabled]="!signupForm.valid">Sign up!</button>
              </p>
              <p>
                <app-format-error [errorList]="errorList" *ngIf="error"></app-format-error>
                <!-- <mat-error  *ngIf="error"> 
                  Email already taken
             </mat-error > -->
              </p>
        </form>
      </mat-card-content>
</mat-card>