<nav mat-tab-nav-bar mat-align-tabs="end" color="primary"  *ngIf="isLoggedIn$ | async">
    <a mat-tab-link
       *ngFor="let link of LoggedInNavbarlinks"
       [routerLink]="link.path"
       routerLinkActive #rla="routerLinkActive"
       [active]="rla.isActive">
      {{link.label}}
    </a>
    <a  mat-tab-link [matMenuTriggerFor]="menu" (click)="pullCart()">Menu</a>
    <mat-menu #menu="matMenu">
    <button mat-menu-item [routerLink]="['/settings']">
        <mat-icon>settings</mat-icon>
        <span>Settings</span>
    </button>
    <button mat-menu-item [routerLink]="['/cart']">
        <mat-icon matBadge="{{ cartList.length > 0 ? cartList.length : null }}" matBadgeColor="warn" matBadgePosition="before">shopping_cart</mat-icon>
        <span>Cart</span>
    </button>
    <button mat-menu-item (click)='logout()'>
      <mat-icon>exit_to_app</mat-icon>
      <span>Log out</span>
  </button>
    </mat-menu>
  </nav>

  <nav mat-tab-nav-bar mat-align-tabs="end" color="primary" *ngIf="!(isLoggedIn$ | async)">
    <a mat-tab-link
       *ngFor="let link of Navbarlinks"
       [routerLink]="link.path"
       routerLinkActive #rla="routerLinkActive"
       [active]="rla.isActive">
      {{link.label}}
    </a>
  </nav>
  
  <mat-toolbar color="primary">
    <h1>Welcome</h1>
  </mat-toolbar>