<div class="profile-main-div" *ngIf="profile!=null">
    <mat-card class="example-card">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>{{profile.first_name}} {{profile.last_name}}</mat-card-title>
          <mat-card-subtitle>{{profile.email}}</mat-card-subtitle>
        </mat-card-header>
        <!-- <img mat-card-image src="../../../assets/images/user.png" alt="Photo of random user"> -->
        <!-- <mat-card-content>
          <p>
            The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
            A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
            bred for hunting.
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button>LIKE</button>
          <button mat-button>SHARE</button>
        </mat-card-actions> -->
        <nav mat-tab-nav-bar mat-align-tabs="center" color="primary" >
          <a mat-tab-link
            (click)="decideTab(1)"
            routerLinkActive #rla="routerLinkActive"
            [active]="rla.isActive">
            Sell
          </a>
          <a mat-tab-link
            (click)="decideTab(2)"
            routerLinkActive #rla="routerLinkActive"
            [active]="rla.isActive">
            Buy
          </a>
    </nav>

  <app-my-book-listing *ngIf="showMyListing"></app-my-book-listing>
  <app-others-book-listing *ngIf="!showMyListing"></app-others-book-listing>
      </mat-card>

</div>






