.example-card {
    min-width: 400px;
  }
  
  .example-header-image {
    background-image: url('../../../assets/images/user.png');
    background-size: cover;
  }
  .profile-main-div{
      display:flex;
      justify-content: center;
  }